# Logs
*.log

# Runtime data
*.pid
*.seed
*.pid.lock

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# application
.DS_Store
node_modules
build/
dist/
.tmp
Logs
package-lock.json
