<% layout('_layout') %>
<section id="location">
    <header>
        <h1>List Page</h1>
    </header>
    <div class="stage">
        <ul>
            <% list.forEach(item=>{ %>
            <li><%= item.name %></li>
            <% }) %>
        </ul>
    </div>
</section>